.form__container {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    height: 100vh;
    padding: 0 15px;

    .form {
        width: 100%;
        margin-top: 10px;

        .formInput {
            margin-bottom: 8px;
        }

        .addCandidateButton {
            cursor: pointer;
            width: 100%;
            margin: 10px 0;
            padding: 15px;
            background-color: #28539c;
            border-radius: 12px;
            border: none;
            color: white;
            font-size: 17px;
        }

    }
}

.candidatesTable {

    // for the table rows content
    .css-1ex1afd-MuiTableCell-root {
        text-align: center;
    }
}